@model List<Student>




<table class="table table-bordered ">
    <tr>
        <td> Name </td>
        <td> Age </td>
        <td> Address </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Name</td>
            <td> @item.Age</td>
            <td> @item.Address</td>
        </tr>
    }
</table>