
<h1>HELLO Bro</h1>

<div id="div1"> HI </div>

<style >
    #div1 {
        background-color : red ;
        color : dodgerblue
      
    }

</style


@{
    int x = 5 ;
    int y = x + 5;
}

<h1>@x</h1>

<ul>
    @for(int i =1;i<11; i++)
    {
        <li>@i</li>
    }
    
</ul>


<img src= /image/1.png.png alt="Alternate Text" />